* {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
	color: white;
	user-select: none;
}

body {
	background: #e1e1e1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.container {
	padding: 0 10px;
}

.explanation-bar {
	text-align: right;
	margin-bottom: 10px;
}

.explanation {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: white;
	color: #ccc;
	border-radius: 100%;
	font-weight: bold;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* Dice */

.dice {
	width: 458px;
	text-align: center;	
}

.dice > img:not(:last-of-type) {
	margin-right: 10px;
}

.die {
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
}

/* Controls */

.controls {
	text-transform: uppercase;
	font-size: 1.2rem;
}

.roll {
	width: 100%;
	height: 40px;
	background: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cccccc;	
	box-shadow: 0 3px #ccc;
	cursor: pointer;
}

.lower-controls {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.lower-controls > div {
	background: white;
	height: 40px;
	flex: 1 1 auto;
	color: #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 3px #ccc;	
	cursor: pointer;	
}

.lower-controls > div:not(:last-of-type) {
	margin-right: 10px;
} 

.roll:active, .remove:active, .add:active, .reset:active {
  transform: translateY(3px);
  box-shadow: 0 0;
  background: #f0f0f0;
}

body [data-disabled="true"]:active {
  transform: translateY(0px);
	box-shadow: 0 3px #ccc;	
}

body [data-disabled="true"] {
	background: #f0f0f0;
	cursor: default;
}

/* Game over */

.game-over {
	height: 84px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ccc;
	text-align: center;
	display: none;
	font-size: 3rem;
	margin-bottom: 10px;
}

/* Media Queries */

@media (max-width: 480px) {
	.container {
		max-width: 320px;
	}

	.dice {
		width: auto;
	}

}
