.app {
  background: #e1e1e1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
	width: 100vw;
	height: 100vh;
  font-family: helvetica, sans-serif;
}

.container {
  position: relative;
  max-width: 460px;
  width: 100%;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92px;
  flex-wrap: wrap;
}

.game-over {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 3rem;
  color: #aaa;
}

.buttons {
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}

.lower-buttons {
  margin-top: 12px;
  display: flex;
  width: 100%;
}

.button {
  border-radius: 6px;
  background: white;
  border: none;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px #aaa;	
  color: #aaa;
  text-transform: uppercase;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}

.button:not(:last-of-type) {
  margin-right: 12px;
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0 0;
  background: #f0f0f0;
}

.button:disabled {
  background: #f0f0f0;
  cursor: not-allowed;
}

.explanation-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 12px;
  min-height: 72px;
}

.stats-container {
  width: 100%;
  margin-top: 12px;
  color: #aaa;
  min-height: 72px;
}

.credits {
  position: absolute;
  bottom: 0px;
  padding: 12px;
  width: 100%;
  text-align: center;
}

.credits a {
  color: #aaa;
}

@media (max-width: 480px) {
	.container {
		max-width: 320px;
	}

}
